<!Doctype Html>  
<Html>     
<Head> 


<Title>     
Add Cricket Players     
</Title>  

</Head>  
<Body> 
     <!-- Navbar items -->
 <div class="nav-links">
    <a href="home.html">Home</a> 
    <a href="IPL.html">IPL</a>
    <a href="T-20.html"><span>T-20</span></a>
    <a href="OneDay.html">OneDay</a>
    <a href="Players.html">Players</a>
    <button class="loginBtn">Add Players</button>
  </div>
          
Submit the information players:  
<br>  
<img src=""  
<form>    
<label> Firstname </label>           
<input id="name"type="text" name="firstname" size="15"/> <br> <br>   
<label> Lastname: </label>           
<input type="text" name="lastname" size="15"/>  <br> <br>
<label> jersay Number</label>   
<input type ="text" name="Jarsay Number" size="15"><br> <br> 
<label>     
Player   
</label>     
<select>    
<option value="Batter">Batter</option>    
<option value="Bowler">Bowler</option>    
<option value="All-Rounder">All-Rounder</option>    
<option value="Wicket-keeper">Wicket-keeper</option>    
<option value="Baall">Batter All-Rounder</option>    
<option value="Boall">Bowler All-Rounder</option>       
</select>    
<br>    
<br>    
<label>     
Gender :    
</label><br>    
<input type="radio" name="gender"/> Male <br>    
<input type="radio" name="gender"/> Female <br>    
<input type="radio" name="gender"/> Other    
<br>    <br>   
<label>     
Phone  Number:    
</label>      
<input  name="phone" size="10" > <br> <br>    
Address    
<br>    
<textarea cols="80" rows="5" value="address">    
</textarea>    
<br> <br>    
Email:    
<input type="email" id="email" name="email" .style.color = "red"> <br>      
<br> <br>    
Password:    
<input type="Password" id="pass" name="pass"> <br>     
<br> <br>    
<input type="submit" value="Submit">    
<input type="reset" value="Reset">  
<input type="Back " value ="Back"
</form>   

</Body>   

<style>


</style>


</Html>  